<%= render 'common/navbar' %>

<%= render 'lp-section-1' %>

<!-- padding -->
<%= render 'lp-section-2-about' %>
<%= render 'lp-section-2-services' %>
<!-- end of padding -->

<div class="lp-fixed" > </div>

<!-- padding -->
<%= render 'lp-section-3' %>
<!-- end of padding -->

<%= render 'common/footer' %>
